In [2]:
import pandas as pd
import numpy as np
datos= pd.read_csv('/home/erick-mpangi/Documents/exerices-python/Jupyter/API_SP.DYN.TFRT.IN_DS2_fr_csv_v2_105776/API_SP.DYN.TFRT.IN_DS2_fr_csv_v2_105776.csv')

In [3]:
datos.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024
0,Aruba,ABW,"Taux de fertilité, total (naissances par femme)",SP.DYN.TFRT.IN,4.567000,4.422000,4.262000,4.107000,3.940000,3.797000,...,1.899000,1.848000,1.785000,1.732000,1.701000,1.662000,1.631000,1.615000,1.602000,NaN
1,NaN,AFE,"Taux de fertilité, total (naissances par femme)",SP.DYN.TFRT.IN,6.650330,6.667308,6.688246,6.709226,6.724930,6.737459,...,4.676508,4.615744,4.569884,4.521443,4.471338,4.412973,4.350683,4.287033,4.223771,NaN
2,Afghanistan,AFG,"Taux de fertilité, total (naissances par femme)",SP.DYN.TFRT.IN,7.282000,7.284000,7.292000,7.302000,7.304000,7.305000,...,5.652000,5.542000,5.433000,5.327000,5.238000,5.145000,5.039000,4.932000,4.840000,NaN
3,NaN,AFW,"Taux de fertilité, total (naissances par femme)",SP.DYN.TFRT.IN,6.468887,6.478351,6.492277,6.500229,6.516739,6.532766,...,5.346596,5.228976,5.098885,4.962571,4.829134,4.707399,4.637741,4.563354,4.497707,NaN
4,Angola,AGO,"Taux de fertilité, total (naissances par femme)",SP.DYN.TFRT.IN,6.708000,6.790000,6.872000,6.954000,7.036000,7.116000,...,5.774000,5.686000,5.600000,5.519000,5.442000,5.371000,5.304000,5.209000,5.124000,NaN